.block-collections
  .row
    .block-mens
      = image_tag 'images/img10.jpg'
      %a.button{href: '' }= t('main_page.man_collection')
    .block-children
      = image_tag 'images/img11.jpg'
      %a.button{href: '' }= t('main_page.child_collection')