<!-- = render 'vkolgotkah/pages/main_slider' -->
<!-- = render 'vkolgotkah/pages/promotions' -->
<!-- = render 'vkolgotkah/pages/collections' -->
<!-- = render partial: 'vkolgotkah/layouts/products', locals: { title: t('bestsellers')} -->

 <!-- %section.section-about -->
  <!-- .row -->
    <!-- .text-box -->
      <!-- .holder -->
        <!-- %h2 -->
          <!-- %span.center= t('about_shop') -->
        <!-- = safe_translate(@page, :description) -->

<!-- = render partial: 'vkolgotkah/layouts/brands' -->


<div class="row">
    <article class="post">
        <%= sanitize @page.description %>
    </article>
</div>

<section class="section-similar">
    <div class="row">
        <h1 class="headline-center"><span class="center">ХИТЫ ПРОДАЖ</span></h1>
        <ul class="list-catalog">
            <%= render 'vkolgotkah/products/product', collection: @page.products %>
        </ul>
    </div>
</section>