%section.content-header
  %h1
    =t('admin.options_groups.title')
    %small= t('helpers.links.edit')

%section.conten
  .box
    .box-body
      =render 'form'
    .box_footer
      = link_to t('helpers.links.back'), admin_options_groups_path, class:'btn btn-primary'
      = link_to t('helpers.links.edit'), 'javascript:', class: 'btn btn-primary', onclick: "$('.edit_options_group').submit(); $('body').animate({scrollTop: $('.has-error').offset().top});"  
