@font-face {
    font-family: 'liberation_sansbold';
    src: url('../fonts/liberationsans-bold-webfont.eot');
    src: url('../fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/liberationsans-bold-webfont.woff2') format('woff2'),
    url('../fonts/liberationsans-bold-webfont.woff') format('woff'),
    url('../fonts/liberationsans-bold-webfont.ttf') format('truetype'),
    url('../fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_sansbold_italic';
    src: url('../fonts/liberationsans-bolditalic-webfont.eot');
    src: url('../fonts/liberationsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/liberationsans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/liberationsans-bolditalic-webfont.woff') format('woff'),
    url('../fonts/liberationsans-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_sansitalic';
    src: url('../fonts/liberationsans-italic-webfont.eot');
    src: url('../fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/liberationsans-italic-webfont.woff2') format('woff2'),
    url('../fonts/liberationsans-italic-webfont.woff') format('woff'),
    url('../fonts/liberationsans-italic-webfont.ttf') format('truetype'),
    url('../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
    url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
    url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
    url('../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helioscondcregular';
    src: url('../fonts/helioscondc-webfont.eot');
    src: url('../fonts/helioscondc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helioscondc-webfont.woff2') format('woff2'),
    url('../fonts/helioscondc-webfont.woff') format('woff'),
    url('../fonts/helioscondc-webfont.ttf') format('truetype'),
    url('../fonts/helioscondc-webfont.svg#helioscondcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'majestic_xregular';
    src: url('../fonts/14288621-webfont.eot');
    src: url('../fonts/14288621-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/14288621-webfont.woff2') format('woff2'),
    url('../fonts/14288621-webfont.woff') format('woff'),
    url('../fonts/14288621-webfont.ttf') format('truetype'),
    url('../fonts/14288621-webfont.svg#majestic_xregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
    margin:0;
    padding:0;
}
body{
	margin:0;
	color:#272727;
	font:14px/1.714 'liberation_sansregular', Arial, Helvetica, sans-serif;
    background: #fff url(../images/bg-page-top.jpg) 50% 37px repeat-x;
}
p{margin: 0 0 18px;}
strong{
    font-weight: normal;
    font-family: 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
img {border-style:none;}
a{
	text-decoration:underline;
	color:#2133d2;
    -webkit-transition:color .3s ease, text-decoration .3s ease, border .3s ease;
    -moz-transition:color .3s ease, text-decoration .3s ease, border .3s ease;
    -ms-transition:color .3s ease, text-decoration .3s ease, border .3s ease;
    -o-transition:color .3s ease, text-decoration .3s ease, border .3s ease;
    transition:color .3s ease, text-decoration .3s ease, border .3s ease;
}
a:hover{
    text-decoration:none;
    color: #ea8b0f;
}
input,
textarea,
select {
    font:14px 'liberation_sansregular', Arial, Helvetica, sans-serif;
	vertical-align:middle;
    color:#272727;
	margin:0;
}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
::-moz-placeholder {
   color:#bdbdbd;
   opacity:1;
}
input::-webkit-input-placeholder {color:#bdbdbd;}
input::-ms-input-placeholder {color:#bdbdbd;}
input::-o-input-placeholder {color:#bdbdbd;}
input[type=submit]:hover{cursor:pointer;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
input[type=image]{
	padding:0;
	border:none;
}
.alignleft{float:left;}
.alignright{float:right;}
.aligncenter{
	display:block;
	margin:0 auto;
}
#wrapper{
	width:100%;
	overflow:hidden;
    padding-top: 37px;
}
.row {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1024px;
}
.form-row:after,
.block-product:after,
.row:after {
    content: "";
    display: block;
    clear: both;
}
#header{
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(1,1,1,.3);
    -moz-box-shadow: 0 1px 4px rgba(1,1,1,.3);
    box-shadow: 0 1px 4px rgba(1,1,1,.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 9px 0 1px;
}
.search-form{
    float: left;
    padding-right: 4px;
    border-bottom: 1px solid #c9c9c9;
}
input[type="password"],
input[type="text"]{
    border: 1px solid #dadada;
    padding: 7px 13px;
    width: 252px;
    display: inline-block;
    vertical-align: top;
}
.price-slider input{
    width: 65px;
    float: left;
    font-size: 17px;
    padding: 3px 3px 2px;
}
.price-slider input{
    float: right;
    font-size: 17px;
    text-align: center;
    padding: 3px;
}
.price-slider input:first-child{
    float: left;
}
input[type="text"]:focus{
    border-color: #4888fe;
}
.error-input input[type="text"]{
    border-color: #d8231f;
}
.search-form input[type="text"]{
    float: left;
    background: none;
    border: 0;
    padding: 4px 2px;
    width: 222px;
    margin-right: 25px;
}
.subscribe-form input[type="text"]{
    float: left;
    background: #fff;
    border: 1px solid #e1be9d;
    border-width: 1px 0 1px 1px;
    padding: 9px 16px 6px;
    width: 206px;
}
.search-form input[type="submit"]:hover,
.search-form input[type="submit"]{
    float: left;
    background: none;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    border: 0;
    margin: 1px 0 0;
    padding: 0;
    background: url(../images/icons.png) 0 0 no-repeat;
}
.add-nav{
    float: right;
}
.add-nav ul{
    margin: 0 14px 0 0;
    float: left;
    padding: 0;
    list-style: none;
}
.add-nav li{
    float: left;
    margin-left: 30px;
}
.add-nav a{
    text-transform: uppercase;
    color: #797979;
    text-decoration: none;
}
.add-nav a:hover{
    text-decoration: underline;
}
a.cart{
    color: #b85254;
    padding-left: 30px;
    position: relative;
}
a.cart:before{
    width: 20px;
    height: 19px;
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    background: url(../images/icons.png) -25px 0 no-repeat;
}
#nav{
    text-align: center;
    font-size: 15px;
    padding: 40px 0 32px;
}
#nav .row{
    border-bottom: 1px solid #dadada;
    height: 70px;
}
#nav ul{
    float: right;
    margin: 38px 0 0;
    padding: 0;
    width: 38.5%;
    list-style: none;
    text-align: right;
}
#nav ul:first-child{
    float: left;
    text-align: left;
}
#nav li{
    display: inline-block;
    vertical-align: top;
    margin-left: 11%;
}
#nav ul:first-child li{
    margin-left: 13%;
}
#nav li:first-child{
    margin: 0 !important;
}
#nav a{
    color: #4d4d4d;
    text-decoration: none;
}
#nav a:hover{
    text-decoration: underline;
}
#nav .opener{
    display: none;
}
.logo{
	width:197px;
	height:70px;
	background:url(../images/logo.png) no-repeat 14px 0;
	text-indent:-9999px;
	overflow:hidden;
    display: inline-block;
    vertical-align: top;
	margin:-63px 0 -1px;
    padding: 0 22px 0 14px;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #fff;
}
.logo a{
	display:block;
 	height:100%;
}
h1{
    font-size: 30px;
    line-height: 32px;
    font-weight: normal;
    margin: 0 0 2px;
}
h2{
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0 0 4px;
}
.text-title{
    display: block;
    margin: 0 auto 1px;
    text-align: center;
    font: 130px/130px 'majestic_xregular', 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
.block-product h2{
    margin-bottom: 11px;
}
.warning-block h2{
    margin-bottom: 1px;
    font-size: 22px;
}
h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 6px;
}
.catalog-article h3{
    font-family: 'liberation_sansbold', Arial, Helvetica, sans-serif;
    margin-bottom: 14px;
}
#sidebar .headline{
    padding-left: 25px;
    margin-bottom: 14px;
}
.headline{
    margin-bottom: 48px;
    border-bottom: 1px solid #dadada;
}
#main{
    padding-bottom: 50px;
}
#sidebar{
    float: left;
    width: 242px;
    padding: 36px 0 0;
}
.accordion{
    margin: 0;
    padding: 0;
    list-style: none;
}
.accordion > li{
    border-top: 1px solid #dadada;
    padding: 10px 0;
}
.accordion li:first-child{
    border: 0;
    padding-top: 0;
}
.accordion .opener{
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;
    color: #272727;
    text-decoration: none;
    position: relative;
}
.accordion .opener .small{
    font-size: 14px;
    color: #797979;
}
.accordion .opener:before{
    content: "";
    position: absolute;
    top: 13px;
    left: 1px;
    border-top: 6px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.accordion .opener:hover{
    text-decoration: underline;
}
.slide-holder{
    line-height: 25px;
    padding: 6px 0 5px 26px;
}
#content{
    margin-left: 264px;
}
.content-holder{
    float: left;
    width: 100%;
}
.breadcrumbs{
    margin: 0;
    padding: 0 0 9px;
    list-style: none;
    color: #c4c4c4;
    font-size: 12px;
}
.breadcrumbs li{
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 0 22px;
    background: url(../images/icons.png) 0 -288px no-repeat;
}
.breadcrumbs li:first-child{
    padding-left: 0;
    background: none;
}
.breadcrumbs a{
    color: #272727;
    text-decoration: none;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.block-product{
    width: 100%;
    padding-bottom: 72px;
}
.block-product .alignleft{
    margin: 2px 49px 0 0;
    border: 1px solid #f4f4f4;
}
.block-product .text-block{
    overflow: hidden;
}
.block-product h2 strong{
    margin-left: 5px;
}
.block-product .info-block{
    padding: 24px 0;
    border-top: 1px solid #d9d9d9;
}
.block-product .select-holder{
    padding-bottom: 18px;
}
.block-product .form-row{
    padding: 2px 0 9px;
}
.block-product dl{
    margin: -19px 0;
    overflow: hidden;
}
.block-product dt{
    float: left;
    margin: 6px 5px 0 0;
}
.block-product dd{
    margin: 0;
    padding: 6px 0;
    overflow: hidden;
    font-family: 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
.block-product .price{
    display: block;
    font-size: 24px;
}
.block-product .price .small{
    font-size: 18px;
}
.form-row{
    width: 100%;
}
.form-row label{
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.radio-row label:hover,
.check-row label:hover{
    border-bottom-color: #c42a40;
}
.form-row .text-row{
    float: left;
    width: 70px;
    margin: 0 5px 0 0;
}
.text-error{
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0 10px;
    color: #d8231f;
}
.warning-block{
    background: #fdf0b6;
    padding: 18px 0 6px;
    color: #e28e0d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.warning-block .row{
    position: relative;
}
.success-block{
    background: #e2f7e1;
    color: #368628;
}
.error-block{
    background: #fde3e7;
    color: #c31611;
}
.warning-block p{
    margin-bottom: 10px;
}
.post{
    padding: 26px 0 33px;
}
.post .text-block{
    padding-bottom: 10px;
}
.tabset{
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 17px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 22px;
}
.tabset li{
    display: inline-block;
    vertical-align: top;
}
.tabset a{
    display: inline-block;
    vertical-align: top;
    color: #272727;
    text-decoration: none;
    padding: 0 7px;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}
.tabset a.active{
    border-bottom-color: #000;
}
.tabs-content{
    padding: 10px 5px 22px;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 96px;
}
.tabs-content p{
    margin-bottom: 6px;
}
.list-visual{
    margin: 0;
    padding: 0 0 34px;
    list-style: none;
    overflow: hidden;
}
.list-visual li{
    float: left;
    margin: 0 34px 34px 0;
}
.list-visual img{
    display: block;
    border: 1px solid #f4f4f4;
}
.form-content{
    overflow: hidden;
    margin-bottom: 57px;
}
.form-content .form-column{
    float: left;
    margin-right: 82px;
}
.text-row{
    padding-bottom: 2px;
}
.input-holder{
    margin-bottom: 22px;
}

.list-examples{
    overflow: hidden;
}
.list-buttons{
    margin: 0;
    padding: 0 0 58px;
    list-style: none;
}
.list-buttons li{
    padding-bottom: 20px;
}
.button{
    display: inline-block;
    vertical-align: top;
    background: #c42940;
    color: #fff;
    padding: 4px 13px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}
.carousel .button{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 11px 34px;
    position: relative;
    background: #b85254;
    z-index: 2;
}
.form-cart .button{
    padding: 6px 30px 4px;
    font-size: 24px;
}
input[type="submit"]{
    display: inline-block;
    vertical-align: top;
    background: #c42940;
    color: #fff;
    padding: 0 27px 1px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 39px;
    height: 39px;
    border: 0;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}
.form-popup-cart input[type="submit"]{
    text-transform: none;
}
.subscribe-form input[type="submit"]{
    background: #a3364e;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    padding: 0 10px 1px;
}
input[type="submit"]:hover,
.button:hover{
    background: #b97274;
    color: #fff;
}
.button.big{
    font-size: 24px;
    line-height: 26px;
    padding: 4px 32px;
}
select{
    width: 278px;
}
.block-product select{
    width: 53px;
}
#color{
    width: 88px;
}
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
    margin: 3px 11px 0 0;
    float: left;
    width: 14px;
    height: 14px;
    background:url(../images/icons.png) no-repeat -170px 0;
}
.accordion .chk-area{
    margin-right: 8px;
}
.chk-checked {
    background-position:-170px -24px;
}
.rad-area {
    margin: 3px 11px 0 0;
    float: left;
    width: 14px;
    height: 14px;
    background:url(../images/icons.png) no-repeat -192px 0;
}
.rad-checked {
    background-position:-192px -17px;
}
.currency-select{
    width: 48px;
}
.select-area {
    border: 1px solid #dadada;
    position: relative;
    overflow: hidden;
    cursor: default;
    height: 21px;
    float: left;
    color:#272727;
    font-size: 16px;
    line-height: 21px;
}
.select-currency-select{
    font-size: 14px;
    line-height: 24px;
    color: #797979;
    margin-top: -1px;
    border-color: transparent;
}
.select-currency-select.select-active{
    border: 1px solid #dadada;
}
.select-area img{
    margin-top: 4px;
    display: block;
}
.select-content-select{
    height: 32px;
    font-size: 14px;
}
.select-area .center {
    white-space: nowrap;
    padding: 0 10px;
    float:left;
}
.select-currency-select .center{
    padding: 0 3px;
}
.select-content-select .center{
    padding: 6px 10px;
}
.select-disabled {
    background: #eee;
}
.select-area .select-opener {
    position: absolute;
    height: 21px;
    width: 26px;
    right: 0;
    top: 0;
    cursor: pointer;
}
.select-currency-select .select-opener{
    width: 6px;
    height: 3px;
    right: 3px;
}
.select-content-select .select-opener{
    height: 32px;
    width: 32px;
    border-left: 1px solid #dadada;
}
.select-area .select-opener:after{
    content: "";
    position: absolute;
    top: 8px;
    left: 9px;
    border-top: 6px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.select-currency-select .select-opener:after{
    top: 10px;
    left: 0;
    border-top: 3px solid #373737;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}
.select-content-select .select-opener:after{
    top: 13px;
    left: 11px;
    border-top: 6px solid #4d4d4d;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.select-options {
    position: absolute;
    overflow: hidden;
    background: #fff;
    z-index: 2000;
}
.select-options .drop-holder {
    border: 1px solid #e2e2e2;
    border-top:0;
    overflow: hidden;
    height: 1%;
}
.select-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.select-options ul li {
    width: 100%;
    float: left;
    border-top: 1px solid #dadada;
}
.select-options ul li:first-child{
    border: 0;
}
.select-options ul a {
    text-decoration: none;
    padding: 0 10px;
    display: block;
    color:#535353;
    height: 1%;
    overflow: hidden;
}
.drop-currency-select ul a{
    padding: 0 3px;
}
.drop-color-select ul span{
    display: none;
}
.drop-content-select ul a{
    padding: 5px 10px;
}
.select-options .item-selected a {
    text-decoration: none;
    background: #c42a41;
    color: #fff;
}
.select-options img{
    display: block;
    margin: 5px 0;
}
input[type="reset"]{
    color: #797979;
    font-size: 15px;
    width: 153px;
    height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f1f1f1;
    border: solid 1px #dcdcdc;
    display: block;
    padding: 0 15px 1px;
    height: 26px;
}
#sidebar input[type="reset"]{
    margin: 0 auto;
}
input[type="reset"]:hover{
    border-color: #b97274;
    color: #b97274;
    cursor: pointer;
}
.ui-spinner{
    border:0;
    overflow:visible;
    margin:7px 61px 0 29px;
    position:relative;
    float:left;
}
.cart-table .ui-spinner{
    margin: 0 16px;
}
.ui-spinner-button{
    position:absolute;
    top:0;
    width:29px;
    height:29px;
    margin:0;
    cursor:pointer;
    left:39px;
    text-decoration:none;
}
.ui-spinner .ui-icon{
    border:0;
    width:28px;
    height:28px;
    text-indent:-9999px;
    margin:0;
    display:block;
    position:relative;
    content:"+";
}
.ui-spinner .ui-icon:after{
    position:absolute;
    left:0;
    top:4px;
    text-indent:0;
    color:#272727;
    content:"+";
    right:0;
    text-align:center;
    font-size:18px;
    line-height:21px;
}
.cart-table .ui-spinner .ui-icon::after{
    top: 0;
}
.ui-spinner-down{
    left:-29px;
}
.cart-table .ui-spinner-up{
    left: 30px;
}
.ui-spinner-down .ui-icon:after{
    content:"-";
}
input.ui-spinner-input:focus,
.ui-spinner-input{
    float:left;
    border:1px solid #bbb;
    text-align:center;
    font-size: 18px;
    height:23px;
    padding:2px 3px !important;
    width:31px !important;
}
.cart-table input.ui-spinner-input:focus,
.cart-table .ui-spinner-input{
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    width:21px !important;
}
.list-examples{
    overflow: hidden;
    padding: 0 0 50px 35px;
}
.list,
.num-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.num-list{
    counter-reset: item;
}
.num-list li{
    padding:0 0 6px 18px;
}
.num-list li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin:0 3px 0 -25px;
    display:inline-block;
    vertical-align:top;
    width:21px;
    text-align:right;
}
.list li{
    padding: 0 0 6px 13px;
    position: relative;
}
.list li:before{
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #c42940;
}
.list-examples .list,
.list-examples .num-list{
    float: left;
    width: 300px;
    margin: 0 25px 0 0;
}
.list-examples .num-list:first-child{
    margin-right: 74px;
}
.form-elements{
    float: right;
    width: 224px;
    padding-top: 4px;
}
.check-block{
    padding-bottom: 19px;
}
.radio-block .form-row{
    padding-bottom: 16px;
}
.link-download{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding-left: 21px;
    background: url(../images/icons.png) -31px -257px no-repeat;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.link-inner{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px dashed #2133d2;
}
.link-inner:hover{
    border-bottom-color: transparent;
}
.headline-center{
    text-align: center;
    position: relative;
    margin-bottom: 19px;
}
.headline-center:after{
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    background: #dadada;
}
.headline-center .center{
    background: #fff;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.row-qty{
    overflow: hidden;
    padding: 6px 0 0;
}
.row-qty label{
    float: left;
    margin: 11px 5% 0 0;
}
.input-box{
    overflow: hidden;
    margin-bottom: 19px;
}
.ui-slider{
    position:relative;
    height: 4px;
    background-color: #d2d2d2;
    -webkit-box-shadow: inset 0 0 1px rgba(21,21,21,.75);
    -moz-box-shadow: inset 0 0 1px rgba(21,21,21,.75);
    box-shadow: inset 0 0 1px rgba(21,21,21,.75);
}
.ui-slider .ui-slider-range{
    background:#c42940;
    height: 4px;
    position: absolute;
}
.ui-slider .ui-slider-handle{
    position:absolute;
    top:-3px;
    left:131px;
    width:12px;
    height:16px;
    text-indent:-9999px;
    overflow:hidden;
    margin-left:-6px;
    outline:none;
    background: url(../images/icons.png) -47px -26px no-repeat;
    cursor:pointer;
}
.block-chosen{
    color: #797979;
    margin-bottom: 10px;
    padding: 14px 0 22px 11px;
    border-bottom: 1px solid #dadada;
}
.block-chosen .title{
    display: block;
    margin: 0 0 6px 14px;
}
.delete{
    display: inline-block;
    vertical-align: top;
    margin: 7px 3px 0 0;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icons.png) -31px -26px no-repeat;
}
.cart-table .delete{
    width: 11px;
    height: 11px;
    background-position: -106px -25px;
    margin: 5px 0 0 10px;
    float: right;
}
.list-chosen{
    margin: 0 0 2px;
    padding: 0;
    list-style: none;
}
.list-chosen li{
    padding-bottom: 12px;
}
.red{
    color: #c42940;
}
.square{
    display: inline-block;
    vertical-align: top;
    margin: 4px 3px 0 0;
    width: 20px;
    height: 11px;
}
.cart-table .square{
    width: 28px;
    height: 10px;
}
.list-colors .square{
    width: 26px;
    height: 26px;
    margin: 0;
}
.square.flesh{
    background: #c99967;
}
.square.yellow{
    background: #fdf3ae;
}
.square.cream{
    background: #f0dfd0;
}
.square.red{
    background: #d21d17;
}
.square.beige1{
    background: #ccb9a5;
}
.square.orange{
    background: #c55124;
}
.square.lavender{
    background: #bd90c7;
}
.square.beige2{
    background: #b78a73;
}
.square.lilac{
    background: #af2e94;
}
.square.mint{
    background: #aed7aa;
}
.square.beige3{
    background: #a68668;
}
.square.dark-red{
    background: #930000;
}
.square.beige4{
    background: #8f6d52;
}
.square.gray{
    background: #848484;
}
.square.brown{
    background: #59351d;
}
.square.light-blue{
    background: #39728c;
}
.square.blue{
    background: #0b363e;
}
.square.black{
    background: #000;
}
.price-slider{
    margin: 6px 4px 7px -22px;
}
.list-colors{
    margin: 0;
    padding: 5px 0 0;
    list-style: none;
}
.list-colors li{
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 10px 0;
    cursor: pointer;
    position: relative;
}
.list-colors label{
    display: block;
    position: relative;
    border: 2px solid #afafaf;
}
.list-colors input, .list-colors .chk-area{
    display: none !important;
}
.list-colors .tooltip{
    position: absolute;
    bottom: 100%;
    left: -41px;
    display: none;
    padding: 7px 7px 1px;
    z-index: 10;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    width: 93px;
    margin-bottom: 17px;
    border: solid 1px #000;
    text-align: center;
}
.list-colors .tooltip:before,
.list-colors .tooltip:after{
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-top: 17px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -15px;
}
.list-colors .tooltip:after{
    z-index: 2;
    border-top: 16px solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    margin-left: -14px;
}
.list-colors li:hover .tooltip{
    display: block;
}
.list-colors .tooltip .square{
    width: 93px;
    height: 93px;
    display: block;
    margin-bottom: 5px;
}
.sizes-columns{
    overflow: hidden;
}
.sizes-column{
    float: left;
    width: 54px;
    margin-right: 5px;
}
.sizes-column:last-child{
    width: 90px;
    margin: 0;
}
.form-sort{
    overflow: hidden;
    margin: -16px 0 31px;
    text-align: center;
    line-height: 26px;
}
.form-sort.bottom{
    margin: 0 0 63px;
    padding: 31px 0 0;
    border-top: 1px solid #dadada;
}
.form-sort select{
    width: 53px;
}
.form-sort .select-block:first-child select{
    width: 136px;
}
.form-sort .select-block{
    display: inline-block;
    vertical-align: top;
}
.form-sort .select-block:first-child{
    float: left;
}
.form-sort label{
    float: left;
    margin: 1px 15px 0 0;
}
.form-sort .select-area{
    margin-top: 4px;
    font-size: 14px;
    height: 19px;
    line-height: 21px;
}
.form-sort .select-area .center{
    padding: 0 8px;
}
.paging{
    float: right;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
    text-align: center;
    color: #4a4a4a;
    font: 18px/20px 'Open Sans', Arial, Helvetica, sans-serif;
}
.paging li{
    float: left;
    margin-left: 9px;
}
.paging a{
    display: block;
    padding: 2px;
    min-width: 20px;
    text-decoration: none;
    color: #4a4a4a;
}
.paging a:hover{
    text-decoration: underline;
}
.paging .active a{
    background: #333;
    color: #fff;
}
.paging .active a:hover{
    text-decoration: none;
}
.add-cart{
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
    height: 19px;
    margin-right: 9px;
    background: url(../images/icons.png) -30px -47px no-repeat;
}
.item-row{
    overflow: hidden;
    padding-left: 2px;
}
.catalog-article p{
    margin-bottom: 6px;
}
.catalog-article{
    padding-left: 6px;
}
.form-cart{
    padding: 22px 50px 47px;
}
.cart-table{
    margin-bottom: 53px;
}
.cart-table img{
    margin-top: -36px;
    display: block;
    border: 1px solid #f2f2f2;
}
.cart-row{
    border: 1px solid #dadada;
    border-width: 1px 1px 0;
    overflow: hidden;
    padding: 40px 4px 4px;
}
.lightbox .cart-row{
    padding: 40px 11px 23px;
}
.total-row{
    border: 1px solid #dadada;
    text-align: right;
    font-size: 16px;
    padding: 8px 20px 7px;
}
.table-heading{
    overflow: hidden;
    color: #747474;
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
}
.lightbox .table-heading{
    border: 1px solid #dadada;
    border-width: 1px 1px 0;
    background: #f8f8f8;
    padding: 3px 11px 2px;
    font-size: 11px;
}
.center{
    text-align: center;
}
.heading-col{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-right: 6px;
}
.heading-col.col2{
    width: 26%;
}
.lightbox .heading-col.col2{
    width: 31%;
}
.heading-col.col3{
    width: 11.5%;
}
.lightbox .heading-col.col3 {
    width: 8%;
}
.heading-col.col4{
    width: 11.4%;
}
.lightbox .heading-col.col4 {
    width: 14.8%;
}
.heading-col.col5{
    width: 7.6%;
}
.lightbox .heading-col.col5 {
    width: 9.6%;
}
.lightbox .total-row .col{
    width: 70px;
}
.heading-col.col6{
    width: 14.5%;
}
.lightbox .heading-col.col6 {
    width: 17.5%;
}
.heading-col.col7{
    width: 13%;
}
.lightbox .heading-col.col7{
    width: 8%;
}
.cart-table .col{
    display: inline-block;
    vertical-align: top;
    width: 82px;
    margin-left: 6px;
}
.total-row .col{
    width: 105px;
    text-align: left;
}
.total-row .col:first-child{
    width: 137px;
}
.col.col2{
    width: 25.7%;
    font-size: 13px;
    line-height: 20px;
    margin-top: -17px;
}
.col.col3{
    width: 11.5%;
    margin-top: 1px;
}
.col.col4{
    width: 11.4%;
}
.col.col5{
    width: 7.6%;
}
.col.col6{
    width: 14.5%;
}
.col.col7{
    width: 11.7%;
    overflow: hidden;
}

.lightbox .col.col2{
    width: 31.3%;
}
.lightbox .col.col3{
    width: 7.9%;
}
.lightbox .col.col4{
    width: 14.4%;
}
.lightbox .col.col5{
    width: 9.6%;
}
.lightbox .col.col6{
    width: 17.5%;
}
.lightbox .col.col7{
    width: 10.7%;
    margin: 0;
}
.cart-row dl{
    margin: 0;
    overflow: hidden;
}
.cart-row dt{
    float: left;
    margin: 0 5px 0 0;
}
.cart-row dd{
    margin: 0;
    overflow: hidden;
    font-family: 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
.carousel{
    max-width: 1521px;
    position: relative;
    color: #fff;
    margin: 0 auto 9px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.carousel img{
    display: block;
    margin: 0 auto;
}
.carousel .slideset{
    width: 999em;
    overflow: hidden;
}
.carousel .mask{
    overflow: hidden;
    position: relative;
}
.carousel .slide{
    float: left;
    position: relative;
    padding: 153px 0 125px;
    background: url(../images/bg-slide1.jpg) 50% 0 no-repeat;
}
.carousel .slide:after{
    content: "";
    position: absolute;
    top: 34px;
    left: 50%;
    margin-left: -512px;
    width: 1024px;
    height: 460px;
    background: url(../images/slider-frame.png) 0 0 no-repeat;
}
.btn-prev,
.btn-next{
    overflow: hidden;
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -40px;
    left: 0;
    width: 44px;
    height: 80px;
    text-indent: -9999px;
    background: url(../images/icons.png) 0 -108px no-repeat;
}
.btn-next{
    left: auto;
    right: 0;
    background-position: -47px -108px;
}
.carousel .text-block{
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.carousel p{
    margin-bottom: 15px;
}
.section-brands{
    padding: 43px 0 37px;
}
.list-brands{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.list-brands li{
    display: inline-block;
    margin:0 2.3% 23px;
}
.list-brands a:hover .over,
.list-brands img{
    display: block;
}
.list-brands a:hover .visible,
.list-brands .over{
    display: none;
}
.list-brands .center{
    height: 65px;
    display: table-cell;
    vertical-align: middle;
}
.block-actions{
    padding-bottom: 6px;
    font-family: 'helioscondcregular', 'liberation_sansitalic', Arial, Helvetica, sans-serif;
}
.block-actions .block-left{
    float: left;
    width: 65%;
    text-align: center;
    margin-top: 37px;
}
.block-actions h2{
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
.block-actions .block-left h2{
    color: #fff;
    padding: 16px 0 25px;
    display: inline-block;
    vertical-align: top;
    width: 335px;
    margin: 0 67px 0 0;
    background: url(../images/bg-heading01.jpg) 50% 0 no-repeat;
}
.block-winter h2 .center,
.block-actions .block-left h2 .center{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.block-winter h2 .center:before,
.block-winter h2 .center:after,
.block-actions .block-left h2 .center:before,
.block-actions .block-left h2 .center:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 15px;
    width: 22px;
    height: 1px;
    background: #fff;
    margin: 0 12px;
}
.block-winter h2 .center:before,
.block-winter h2 .center:after{
    background: #c6c6c7;
}
.block-winter h2 .center:before,
.block-actions .block-left h2 .center:before{
    right: 100%;
    left: auto;
}
.block-collections img,
.block-actions img{
    display: block;
    width: 100%;
}
.block-actions .block-right{
    float: left;
    width: 35%;
}
.block-actions a{
    color: #fff;
    text-decoration: none;
}
.block-sale{
    position: relative;
    z-index: 5;
    margin: 0 -105px -36px -20px;
}
.block-sale h2{
    margin: -110px 0 0 15px;
    position: relative;
    z-index: 2;
    background: url(../images/bg-heading02.png) no-repeat;
    padding: 17px 43px 22px 0;
    font-size: 42px;
    line-height: 44px;
}
.block-winter h2{
    color: #c6c6c7;
    margin: 13px 0 0 14px;
}
.block-winter{
    position: relative;
    margin: 0 3px 0 27px;
}
.block-winter:after{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -157px;
    top: 43px;
    width: 496px;
    height: 294px;
    background: url(../images/bg-block-winter.jpg) 0 0 no-repeat;
}
.block-winter a{
    position: relative;
    z-index: 2;
    display: block;
}
.block-collections{
    background: #f7f7f7;
    padding: 22px 0 7px;
    text-align: center;
    position: relative;
    margin-bottom: 13px;
}
.block-collections .block-mens{
    float: left;
    width: 38.6%;
    position: relative;
}
.block-collections .block-mens:after{
    content: "";
    position: absolute;
    left: -180px;
    bottom: -8px;
    width: 393px;
    height: 303px;
    background: url(../images/bg-block-mens.jpg) 0 0 no-repeat;
}
.block-collections .block-children{
    float: right;
    width: 59.7%;
}
.block-mens img,
.block-mens .button{
    position: relative;
    z-index: 2;
}
.block-collections .button{
    margin-top: -96px;
    letter-spacing: 1.5px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 26px 9px;
}
.block-collections .button:hover{
    opacity: 0.9;
}
.block-children .button{
    background: #70b991;
}
.block-mens .button{
    background: #8396b6;
}
.section-about{
    font-size: 15px;
    line-height: 24px;
    color: #0e0e0e;
    padding: 41px 0 52px;
    background: url(../images/bg-block-about.jpg) 50% 0 repeat-y;
}
.section-about .text-box{
    width: 467px;
    position: relative;
    margin: 37px 0 37px auto;
    padding: 8px 49px 12px;
    background: rgba(255,255,255, 0.7);
}
.section-about .text-box:before,
.section-about .text-box:after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 565px;
    height: 37px;
    background: url(../images/bg-text-box-bottom.png) 0 100% no-repeat;
}
.section-about .text-box:before{
    top: -37px;
    background: url(../images/bg-text-box-top.png) 0 0 no-repeat;
}
.section-similar{
    padding-bottom: 20px;
}
.section-about h2{
    text-align: center;
    overflow: hidden;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    color: #b85254;
    margin-bottom: 23px;
}
.section-about h2 .center{
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    position: relative;
}
.section-about h2 .center:before,
.section-about h2 .center:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 12px;
    width: 500px;
    height: 1px;
    background: #888;
}
.section-about h2 .center:after{
    left: auto;
    right: 100%;
}
.section-about p{
    margin-bottom: 5px;
}
.section-about .holder{
    position: relative;
    padding-bottom: 26px;
}
.section-about .holder:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -174px;
    width: 346px;
    height: 1px;
    background: #828282;
}
#footer{
    padding: 16px 0 0;
    background: #fef4ea;
}
#footer .top-block{
    overflow: hidden;
    margin-bottom: 39px;
}
#footer .top-block .block-left{
    float: left;
    width: 338px;
    margin: 35px 13px 0 0;
}
.button-sizes{
    background-color: #fff;
    border: solid 1px #e1be9d;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 51px;
    padding: 19px 20px 19px 49px;
    position: relative;
    text-decoration: none;
    color: #a3364d;
    text-transform: uppercase;
    font: 18px/22px 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
.button-sizes:before{
    width: 23px;
    height: 77px;
    content: "";
    position: absolute;
    top: -24px;
    left: 17px;
    background: url(../images/icons.png) 0 -27px no-repeat;
}
.sub-nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
}
.sub-nav li{
    float: left;
}
.sub-nav li:before{
    content: "|";
    margin: 0 11px;
}
.sub-nav li:first-child:before{
    display: none;
}
.sub-nav a{
    color: #4a4949;
    text-decoration: none;
}
.sub-nav a:hover{
    text-decoration: underline;
}
.block-subscribe{
    float: left;
    margin: 23px 0 0;
    color: #bcbcbc;
    font:italic 22px 'Times New Roman', Times, Georgia, serif;
}
.subscribe-form{
    margin: 14px 0 0 -3px;
}
#footer .banner{
    float: right;
    border: 1px solid #e1be9d;
    margin-right: 18px;
}
.banner img{
    display: block;
}
.bottom-block{
    background: url(../images/divider-footer.gif) 50% 0 no-repeat;
    padding-top: 1px;
}
.bottom-block .text-block{
    overflow: hidden;
}
.logo-footer{
    float: left;
    padding: 25px 51px 22px 11px;
    margin-right: 25px;
    background: url(../images/divider-footer-vertical.gif) 100% 0 no-repeat;
}
.logo-footer img{
    vertical-align: top;
}
.footer-bar{
    overflow: hidden;
    color: #a7a7a7;
    padding: 18px 0 22px;
}
.copyright{
    float: left;
    font-style: normal;
    margin-right: 29px;
    font-family: 'liberation_sansitalic', Arial, Helvetica, sans-serif;
}
.copyright strong{
    font-weight: normal;
    color: #848484;
    margin-right: 5px;
    font-family: 'liberation_sansbold_italic', Arial, Helvetica, sans-serif;
}
.social{
    float: left;
    margin: 0;
    padding: 1px 0 0;
    list-style: none;
}
.social li{
    float: left;
    margin-right: 15px;
}
.social a{
    display: block;
    text-indent: -9999px;
    width: 8px;
    height: 16px;
    background: url(../images/icons.png) -56px 0 no-repeat;
}
.social .twitter{
    width: 19px;
    background-position: -82px 0;
}
.social .vkontakte{
    width: 16px;
    background-position: -113px 0;
}
.social .instagram{
    width: 16px;
    background-position: -145px 0;
}
.footer-nav{
    font-size: 13px;
    line-height: 16px;
    color: #848484;
    text-transform: uppercase;
}
.footer-nav ul{
    margin: 0;
    padding: 0 0 5px;
    list-style: none;
    overflow: hidden;
}
.footer-nav li{
    display: inline-block;
    vertical-align: top;
}
.footer-nav li:before{
    content: "|";
    margin: 0 7px;
}
.footer-nav li:first-child:before{
    display: none;
}
.footer-nav a{
    color: #848484;
    text-decoration: none;
}
.footer-nav a:hover{
    text-decoration: underline;
}
.lightbox-holder{
    position: relative;
    height: 0;
    overflow: hidden;
}
.lightbox{
    width: 746px;
    padding: 57px 48px 100px 69px;
}
.cart-nav ul{
    margin: 0 -40px 30px 0;
    padding: 0;
    list-style: none;
}
.cart-nav li{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 0 20px 50px;
}
.cart-nav li:first-child{
    margin-left: 0;
}
.cart-nav li:before{
    content: "";
    position: absolute;
    top: 9px;
    left: -36px;
    width: 20px;
    height: 13px;
    background: url(../images/icons.png) -213px 0 no-repeat;
}
.cart-nav li:first-child:before{
    display: none;
}
.cart-nav .box{
    display: block;
    background-color: #f8f8f8;
    border: solid 1px #dcdcdc;
    padding: 4px 10px 2px;
}
.cart-nav .active .box{
    color: #fff;
    background: #b97274;
    border: 1px solid #dcdcdc;
}
.tabset-popup{
    margin: 0 0 19px;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 16px;
}
.tabset-popup li{
    display: inline-block;
    vertical-align: top;
    margin: 0 6.4% 20px 0;
}
.tabset-popup a{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    border-bottom: 1px dashed #2133d2;
}
.tabset-popup a:hover{
    border-bottom-color: transparent;
}
.tabset-popup .active{
    margin-top: 0;
    border-bottom-color: transparent;
    color: #b97274;
    font: 21px/22px 'liberation_sansbold', Arial, Helvetica, sans-serif;
}
.text-note{
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #7a7a7a;
    width: 280px;
    margin: -22px 0 35px;
}
#tab-client .link-inner{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin: -16px 0 16px;
    line-height: 16px;
}
.tabs-popup-content .columns{
    overflow: hidden;
    margin: -14px 0 25px;
}
.tabs-popup-content .column{
    float: left;
    width: 36%;
}
.tabs-popup-content .column:first-child{
    width: 51%;
    padding-top: 14px;
}
.divider-text{
    float: left;
    width: 44px;
    margin: 0 6.4% 0 0;
    text-align: center;
    border-left: 1px solid #d4d4d4;
    position: relative;
    padding: 84px 0;
    font:600 16px/21px 'Open Sans', Arial, Helvetica, sans-serif;
}
.divider-text .center{
    position: relative;
    background: #fff;
    margin-left: -44px;
}
.sign-social{
    font:600 16px/21px 'Open Sans', Arial, Helvetica, sans-serif;
}
.list-sign-social{
    margin: 0;
    padding: 19px 0 0;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
}
.list-sign-social a{
    display: inline-block;
    padding: 10px 0 12px 50px;
    text-decoration: none;
    color: #272727;
    background: url(../images/icons.png) -260px 0 no-repeat;
}
.list-sign-social .vk{
    background-position: -260px -40px;
}
.list-sign-social .odnoklassniki{
    background-position: -260px -80px;
}
.list-sign-social .twitter{
    background-position: -260px -120px;
}
.title-payment{
    display: block;
    margin: 0 0 15px;
    font-size: 16px;
}
.form-popup-cart .radio-block{
    padding: 0 0 14px 25px;
}
#step3,
#step2{
    display: none;
}
@media only screen and (max-width: 1100px){
    #nav ul{
        width: 36%;
    }
    #nav ul:first-child li,
    #nav li{
        margin-left: 5%;
    }
    .form-product input[type="submit"]{
        clear: both;
        display: block;
    }
    .ui-spinner{
        margin-bottom: 15px;
    }
    .form-cart{
        padding: 22px 0 43px;
    }
}
@media only screen and (max-width: 980px){
    .logo{
        padding: 0 5px;
        margin: 0;
        background-position: 50% 0;
    }
    #header{
        text-align: center;
    }
    .form-elements,
    .list-examples .list,
    .list-examples .num-list{
        float: none;
        width: auto;
        margin: 0 0 20px;
    }
    #footer .top-block{
        text-align: center;
    }
    .block-subscribe{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .subscribe-form{
        margin: 14px 0 0;
    }
    #footer .top-block .block-left{
        text-align: left;
    }
    .top-block .container{
        overflow: hidden;
    }
    .logo-footer{
        padding: 25px 20px 22px 11px;
    }
    #nav .opener{
        display: block;
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 32px;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        background:url(../images/ico-mobile-menu.png) no-repeat;
    }
    #nav{
        padding: 0;
    }
    #nav .row{
        position: relative;
        padding: 10px 0;
        height: auto;
    }
    #nav .slide-block{
        background: rgba(254, 244, 234, 0.95);
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 100;
        margin-top: -1px;
    }
    #nav ul:first-child,
    #nav ul{
        float: none;
        width: auto;
        margin: 0;
    }
    #nav ul:first-child li,
    #nav li{
        display: block;
        margin: 0;
        border-top: 1px solid #dadada;
    }
    #nav li a{
        display: block;
        padding: 11px 20px;
        text-align: left;
    }
    #nav li a:hover {
        text-decoration: none;
        background: #c42a41;
        color: #fff;
    }
    .logo{
        float: left;
        border: 0;
    }
    .block-product .alignleft{
        width: 35%;
    }
    .paging{
        float: none;
        margin: 10px 0 0;
        overflow: hidden;
    }
    .paging li:first-child{
        margin: 0;
    }
    .col.col2,
    .heading-col.col2{
        width: 22%;
    }
    .heading-col.col6,
    .col.col6{
        width: 14%;
    }
    .heading-col.col5,
    .col.col5{
        width: 6%;
    }
    .text-title{
        font-size: 90px;
        line-height: 100px;
    }
    .block-actions h2{
        font-size: 24px;
        letter-spacing: 0;
    }
    .block-winter{
        margin-top: 20px;
    }
    .carousel .slide::after{
        display: none;
    }
    .lightbox{
        width: auto;
    }
    .tabs-popup-content .column:first-child,
    .tabs-popup-content .column{
        float: none;
        width: auto;
    }
    .divider-text{
        float: none;
        padding: 0;
        margin: 0 0 20px;
        width: auto;
        text-align: left;
        border: 0;
    }
    .divider-text .center{
        margin: 0;
    }
}
@media only screen and (min-width: 981px){
    #nav .js-slide-hidden {
        display: table !important;
        left: 0 !important;
        position: relative !important;
        top: 0 !important;
        width: 100%;
    }
}
@media only screen and (min-width: 768px){
    .form-filter.js-slide-hidden{
        display: table !important;
        left: 0 !important;
        position: relative !important;
        top: 0 !important;
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
	.accordion .slide{
		display: none;
	}
    .logo-footer{
        float: none;
        background: none;
        margin: 0;
        text-align: center;
    }
    .bottom-block .text-block{
        padding-bottom: 20px;
    }
    #wrapper{
        padding-top: 73px;
    }
    .add-nav,
    .add-nav ul,
    .search-form{
        float: none;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        margin: 0;
    }
    .search-form{
        margin-bottom: 10px;
    }
    .add-nav{
        margin: 0;
    }
    .add-nav li{
        margin: 0 10px;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .text-title{
        font-size: 70px;
        line-height: 80px;
    }
    #sidebar{
        float: none;
        width: auto;
    }
    .accordion .opener{
    	display: block;
    }
    #sidebar .headline.opener{
        cursor: pointer;
    }
    #content{
        margin-left: 0;
    }
    .form-product input[type="submit"]{
        clear: none;
    }
    .heading-col.col5, .col.col5,
    .heading-col.col4, .col.col4{
        display: none !important;
    }
    .lightbox .total-row .col{
        text-align: right;
    }
    .lightbox .total-row{
        padding: 8px 11px 7px;
    }
    .col.col7{
        width: 16%;
    }
    .lightbox .col7{
        float: right;
        width: 12%;
        text-align: right;
    }
    .col.col2, .heading-col.col2{
        width: 35%;
    }
    .lightbox .col.col2,
    .lightbox .heading-col.col2{
        width: 50%;
    }
    .section-about .text-box{
        width: auto;
        max-width: 467px;
        margin: 37px auto;
    }
    .block-actions h2{
        font-size: 22px;
    }
    .block-collections .button{
        letter-spacing: 0;
        padding: 10px 15px 9px;
        font-size: 16px;
    }
    .block-actions .block-right,
    .block-actions .block-left{
        float: none;
        width: auto;
        display: block;
        text-align: center;
    }
    .block-sale{
        margin: 0 0 20px;
    }
    .block-sale h2{
        padding-right: 0;
        background-position: 50% 0;
    }
    .block-actions{
        padding-bottom: 30px;
    }
    .text-title{
        height: 90px;
    }
    .lightbox{
        padding: 50px 15px;
    }
}
@media only screen and (max-width: 639px){
    body{
        min-width: 320px;
    }
    .text-title{
        font-size: 60px;
        line-height: 70px;
    }
    .search-form input[type="text"]{
        width: 212px;
    }
    #footer .top-block .block-left,
    #footer .banner{
        float: none;
        text-align: center;
        display: inline-block;
        margin: 0 10px;
    }
    #footer .top-block .block-left{
        width: auto;
    }
    .button-sizes{
        margin: 25px 0;
        padding-right: 15px;
    }
    .bottom-block{
        text-align: center;
    }
    .social,
    .copyright{
        float: none;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .subscribe-form input[type="text"]{
        width: 155px;
    }
    .sub-nav li{
        float: none;
    }
    .sub-nav li::before{
        display: none;
    }
    .tabset{
        font-size: 14px;
    }
    .block-product .alignleft{
        float: none;
        width: 100%;
        margin: 0 0 20px;
    }
    .heading-col.col6, .col.col6{
        display: none;
    }
    .col.col7{
        width: 20%;
    }
    .lightbox .col.col7{
        width: 22.7%;
    }
    .col.col3,
    .heading-col.col3{
        width: 13%;
    }
    .block-collections .block-children,
    .block-collections .block-mens{
        float: none;
        width: auto;
    }
    .block-collections .block-mens::after{
        display: none;
    }
    .block-collections .button{
        letter-spacing: 0;
        padding: 10px 15px 9px;
        font-size: 16px;
    }
    .section-about .text-box{
        margin: 0;
    }
    .section-about .text-box:before,
    .section-about .text-box:after{
        display: none;
    }
    .section-about .holder{
        padding: 26px 0;
    }
    .cart-nav li{
        display: block;
        margin: 0 0 15px;
    }
    .cart-nav li:before{
        display: none;
    }
}
@media only screen and (max-width: 479px){
    #wrapper{
        padding-top: 98px;
    }
    .text-title{
        font-size: 44px;
        line-height: 50px;
    }
    .paging,
    .form-sort .select-block{
        clear: both;
        display: block;
    }
    .form-cart .cart-row .col:first-child,
    .form-cart .heading-col:first-child,
    .form-cart .col.col3,
    .form-cart .heading-col.col3{
        display: none;
    }
    .col.col2, .heading-col.col2,
    .col.col7, .heading-col.col7{
        width: 45%;
    }
    .lightbox .col.col7{
        width: 34.7%;
    }
    .lightbox .heading-col.col3{
        width: 21%;
    }
    .lightbox .heading-col.col7 {
        width: 16%;
    }
    .lightbox .cart-row dt{
        float: none;
        margin: 0 0 5px;
    }
    .total-row{
        text-align: left;
    }
    .total-row .col{
        width: 80px;
    }
    .carousel .text-block{
        padding: 0 40px;
        width: auto;
    }
    .section-about h2 .center{
        padding: 0;
    }
    .section-about h2 .center::before, .section-about h2 .center::after{
        display: none;
    }
    .section-about .holder::after{
        display: none;
    }
    .form-popup-cart input[type="submit"],
    .text-note,
    .form-popup-cart input[type="password"],
    .form-popup-cart input[type="text"]{
        width: 100%;
        max-width: 252px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .text-note{
        max-width: 280px;
    }
}
