transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
box-sizing()
	box-sizing arguments
	-moz-box-sizing arguments
	-webkit-box-sizing arguments