default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  user: vcom_shop
  password: 
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: vcom_shop_dev

test:
  <<: *default
  database: vcom_shop_test

production:
  <<: *default
  database: vcom_shop_prod
