%section.content-header
  %h1
    = t('admin.home.title')
    %small Control panel
  %ol.breadcrumb
    %li
      %a{href: '#'}
        %i.fa.fa-dashboard
        Home
    %li.active Dashboard

%section.content
